<div class="container mt-1">
  <h2 class="text-center mt-4">Create New Appointment</h2>

  <div class="card">
    <div class="row">
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
        <input
          class="form-control"
          [(ngModel)]="newAppointmentTitle"
          placeholder="Appointment Description"
          (keydown.enter)="addAppointment()"
        />
      </div>
      <div class="col">
        <input
          class="form-control"
          [(ngModel)]="newAppointmentDate"
          type="date"
          placeholder="Appointment Date"
          (keydown.enter)="addAppointment()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input
          class="form-control"
          [(ngModel)]="newAppointmentLocation"
          placeholder="Location (optional)"
          (keydown.enter)="addAppointment()"
        />
      </div>
    </div>
    <div class="row2">
      <button class="btn btn-primary w-100" (click)="addAppointment()">
        ADD
      </button>
    </div>
  </div>
  <h2 class="text-center mt-4">Appointment List</h2>
  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between"
      *ngFor="let appointment of appointments; index as i"
    >
      <strong>{{ appointment.title }}</strong> /
      {{ appointment.date | date : "dd.MM.yyyy" }} / {{ appointment.location }}
      <button class="btn btn-danger" (click)="deleteAppointment(i)">
        DELETE
      </button>
    </li>
  </ul>
</div>
