.blur-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("https://img.freepik.com/free-photo/desk-with-objects_23-2147982352.jpg?t=st=1716652671~exp=1716656271~hmac=305f035517ef925b289d081be367182544e8921809fa8959c4ec32e6e39582fa&w=1800");
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}
